#navbar{
    background-color: black;
    height : 60px;
    width : 1432px
}
a{
    margin-right : 200px;
    background-color: black; 
    color : white;
}
*{
    background-color: white;
}
#logo{
    font-size: 25px;
    background-color: #f08804;
}
button{
    background-color: #f08804;
}
