body{
    height : 100vh;
    width : 100vw;
}
.line1{
    height : 100px;
    width : 100px;
    border: 2px solid black;
    background-color: aqua;
}
.container1,.container2,.container3,.container4{
    height : 100%;
    width : 100%;
    display: flex;
} 
.l1b2{
    height : 100px;
    width : 100px;
    border: 2px solid black;
    background-color: aqua;
}

.line2{
    height : 100px;
    width : 100px;
    border: 2px solid black;
    background-color: aqua;
}
.line3{
    height : 100px;
    width : 100px;
    border: 2px solid black;
    background-color: aqua;
}
.line4{
    height : 100px;
    width : 100px;
    border: 2px solid black;
    background-color: aqua;
}
.container2{
    height : 100%;
    width : 100%;
    display: flex;
} 
