body{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    height: 100%;
    width : 100%;
}
.container{
    height: 100%;
    width : 100%;
    background-color: black;
    display: grid;
    /* grid-template-columns: repeat(auto-fit,min(300px,500px)); */
    grid-template-areas: "header header header"
                        "siderbar content1 content1"
                        "siderbar content2 content3"
                        "footer footer footer";
}
.item{
    padding: 4rem;
    background-color: burlywood;
    border: 2px solid black;
}
#header{
    grid-area : header;
}
#content1{
    grid-area : content1;
}
#content2{
    grid-area : content2;
}
#content3{
    grid-area : content3;
}
#footer{
    grid-area : footer;
}